# virutal environemnt
.venv

# editor related
.DS_Store
.vscode
.idea
.attach_pid*

# python generated
__pycache__
.pytest_cache

# module specific
*.log
vocabularies/vocabulary_sources/*
vocabularies/generated_vocabularies/*
random_records/random_generated_data/*
